.thumb {
margin: 0px;
position: fixed;
top: 0px;
left: -8px;
z-index: 2000;
width: 100%;
border-bottom: 1px solid #000000;
background:#000000;


}

.float {
float: left;
}

nav ul {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 15px;
margin: 0px;
column-gap: 70px;
width: 200px;

}


nav li a {
text-decoration: none;
transition: color 1s, color .5s;
color: #FFFFFF;
text-align: center;
font-family: 'Cinzel', serif;
font-weight: 600;
font-size: 18px;

}



nav li a:hover{
background-color: #000000;
color:#6B89A1;
}


#mainimg {
border-radius: 24px;
float: right;
padding: 5px;
}


h1 {
font-family: 'Cinzel', serif;
font-weight: bold;
font-size: 40px;
color: #FFFFFF;
font-size: 40px;
display: grid;
grid-template-columns: 1fr;
padding: 0px;
margin-top: 150px;
text-align: left;
}

h2 {
font-family: 'Cinzel', serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
margin-bottom: 0px;
color: #FFFFFF;
font-size: 25px;
text-align: left;
margin-top: 100px;
}

h3 {
font-family: 'Cinzel', serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
margin-bottom: 0px;
color: #FFFFFF;
font-size: 25px;
text-align: left;
margin-top: 100px;
}


body {
background-color:#000000;
}

.wrapper {
border: 3px;
width: 1000px;
height: 826px;
padding: 10px;
background-position: center;
display: block;
margin-left: auto;
margin-right:auto;
background-color: #000000;
}

p {
color: #FFFFFF;
font-size: 16px;
font-family: Helvetic;
float: left;
}

.text {
width: 500px;
}

.all a:link {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 1s, color .5s;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  font-size: 20px;
  display:block;
  border-radius: 10px;
  background-color: #6B89A1;
  width: 100px;
  height: 40px;
  float: right;
  margin-right: 200px;
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;



}

.all a:visited {
  color: #FFFFFF;
}

.all a:hover {
  background-color: #6B89A1;
  color:#000000;
  text-align: center;

}
