h1 {
    
text-align: center;
font-weight: bold;
font-family: Impact, sans-serif;
color:#177BD1;
font-size: 150px;
margin: 0px;
position: relative;
top: -720px;
left:-420px;
}

.everybody {
font-family: Helvetica, sans-serif;
color: #FFFFFF;
text-align: right;
width:200px;
position: relative;
left: 380px;
top: 20px;


}


a {
font-weight: bold; 
color:#177BD1;
text-decoration-line: none;
text-align: center;
position: relative;
top: -280px;
left: 160px;
}


a:hover {
color: #FEA400;
text-decoration-line: underline;
text-align:center;
}

.bottomtext {
color:#4794D9;
font-family:Arial, sans-serif;
font-size:14px;
text-align: center;
position: relative;
top: -280px;
left: -425px;
}

.soul {
z-index:-1;
margin-top: 0;
position: relative;
left: -10px;
top: -80px;

    
}

p span {
    font-size: 9px;
}
.PG {
    position: relative;
    top: -260px;
    left: 190px;
}


