nav li a {
background-color: #1DA838;
padding: 24px;
display: block;
text-decoration: none;
transition: background-color 1s, color .5s;
}



nav li a:hover{
background-color: green;
color: grey;
}



.roundedbox {
padding: 25px;
border: 3px solid red;
background-color: #ccc;
border-radius: 24px;
}


.roundedbox2 {
padding: 24px;
border: 3px solid #999;
background-color: #ccc;
border-top-left-radius: 24px;
border-bottom-right-radius: 24px;
}   

.circle {
padding: 100px;
width: 150px;
height: 150px;
border: 3px solid green;
background-color: red;
color: white;
border-radius: 500px;
}

#mainimg {
border-radius: 24px;
}

.dropshadowbox {
padding: 10px;
border: 3px solid red;
background-color: #ccc;
box-shadow: -24px -10px 0px #666; /* x, y, blur, color */
}


h1 {
font-family: 'Creepster', cursive; 
font-weight: bold;
font-size: 36px;
color: #369;
text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
}

h2 {
font-family: boucherie-sans, sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
border-bottom: 3px solid black;
margin-bottom: 0px;
}
    
body {
background-color:#000000;
}
    

