h1 {
    color:#CC2525;
    background-color: #AAAAAA;
}

h3 {
    
    color:#FF0000;

}

h4{
    color:#9D9D9D;
}

#spanstyle {
    color: #FFFFFF;
}

h2 {
    color:#CC2525;
     background-color: #AAAAAA;
}

p {
    color:#4B4B4B;
}


.imageandh1 {
    
background-color:#000000;
    
}

footer {
    color:#4B4B4B;
}

.info {
    color:#4B4B4B;
}


a {
    color:#CC2525;
}

a:hover {
    
    color:#FFF500;
}

a:visited {
    color: #086900;
}