.thumb {
margin: 0px;
position: fixed;
top: 0;
left: 0;
z-index: 2000;
width: 100%;
border-bottom: 1px solid #000000;
background:#000000;


}

.float {
float: left;
}

nav ul {
padding: 0;
    margin-top: 43px;
display: flex;
}

nav ul li {
  padding-right: 20px;
}


nav li a {
text-decoration: none;
transition: color 1s, color .5s;
color: #FFFFFF;
text-align: center;
font-family: 'Cinzel', serif;
font-weight: 600;
font-size: 18px;

}


nav li a:hover{
background-color: #000000;
color:#6B89A1;
}


h1 {
font-family: 'Cinzel', serif;
font-size: 36px;
color: #FFFFFF;
font-size: 40px;
display: grid;
grid-template-columns: 1fr;
padding: 0px;
margin-top: 150px;
text-align: center;
}

body {
background-color:#000000;
}

.wrapper {
border: 3px;
padding: 10px;
background-position: center;
display: block;
margin-left: auto;
margin-right:auto;
background-color: #000000;
}

p {
color: #FFFFFF;
font-size: 16px;
text-align: center;
}



.text{
margin-top: 60px;
}

.text a {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  /* width: 350px; */
  display: block;
  color: #fff;
  align-items: center;
  /* margin-left: 330px; */
  transition: transform .30s;
  transition: color 1s, color .5s;

}


.text a:hover {

transform: scale(1.2);
transition:transform .15s ease-in-out 0.30s;
width: 400px;
color:#6B89A1 !important;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text a {
  margin-top: 1rem;
  color: #fff;
}

.wrapper {
  margin-top: 13rem;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1000px;
  }
}
