.thumb {
margin: 0px;
position: fixed;
top: 0px;
left: 5px;
z-index: 2000;
width: 100%;
border-bottom: 1px solid #FFFFFF;  
background:#FFFFFF; 


}

.float {
float: left;
}

nav ul {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 15px;
margin: 0px;
column-gap: 70px;
width: 200px;
text-decoration: none;
    
}


nav li a {
text-decoration: none;
transition: color 1s, color .5s;
color: #000000;
text-align: center;
font-family: "cinzel";
font-size: 18px;

}


nav li a:hover{
background-color: #FFFFFF;
color:#6B89A1;
text-decoration: none;
}


h1 {
font-family: "cinzel";
font-weight: bold;
font-size: 34px;
color: #000000;
display: grid;
grid-template-columns: 1fr;
padding-right: 5px;
margin-top: 150px;
text-align: right;
    
}

    
body {
background-color:#FFFFFF;
}

.wrapper {
border: 3px;
width: 1100px;
height: 826px;
padding: 10px;
background-position: left;
display: block;
margin-left: auto;
margin-right:auto;
background-color: #FFFFFF;
}
   
.p1 {
color: #000000;
font-size: 17px;
font-family: "cinzel";
text-align: left;
width: 487px;
float: right;
}

.p2{
color: #000000;
font-size: 16px;
font-family: "cinzel";
text-align: left;
margin-top: -50px;

}

.carrots a {
text-decoration: none;
}


.rotate {
transform: rotate(270deg);
position: relative;
top: -80px;
left: -10px;
}


.leftimage {
position: relative;
top: 0px;
left: 90px;
}


.images {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
margin: 0px;
align-content: center;
}


.screenshot{
position: relative;
top: 200px;
left: 0px;
}






