
.thumb {
margin: 0px;
position: fixed;
top: 0px;
left: 5px;
z-index: 2000;
width: 100%;
border-bottom: 1px solid #FFFFFF;
background:#FFFFFF;


}

.float {
float: left;
}

nav ul {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 15px;
margin: 0px;
column-gap: 70px;
width: 200px;
text-decoration: none;
list-style-type: none;

}


nav li a {
text-decoration: none;
transition: color 1s, color .5s;
color: #000000;
text-align: center;
font-family: 'Cinzel', serif;
font-weight: 600;
font-size: 18px;
list-style-type: none;

}


nav li a:hover{
background-color: #FFFFFF;
color:#6B89A1;
text-decoration: none;
list-style-type: none;
}


h1 {
font-family: 'Cinzel', serif;
font-weight: bold;
font-size: 35px;
color: #000000;
display: grid;
grid-template-columns: 1fr;
padding: 0px;
margin-top: 145px;
text-align: right;
padding-right: 80px;

}


body {
background-color:#FFFFFF;
}


.wrapper {
border: 3px;
width: 1200px;
height: 826px;
padding: 10px;
background-position: center;
display: block;
margin-left: auto;
margin-right:auto;
background-color: #FFFFFF;
}

.p1 {
  color: #000000;
  font-size: 17px;
  text-align: left;
  width: 550px;
  float: right;
  padding: 0px;
  margin-top: -600px;
//  margin-left: -20px;
margin-right: 50px;
}


.greg {
float: left;
padding: 0px;
transition: transform 1s;
margin-bottom: 0px;
}


.videoimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px;
  align-content: center;
  column-gap: 50px;
  row-gap: 50px;
  padding: 10px;
  //padding-left: -30px;
  padding-right: 50px;
  align-content: center;
  padding-top: 50px;
}
